---
import { Icon } from "astro-icon/components";
---

<nav
    id="navbar"
    class="fixed left-1/2 top-[65px]
         -translate-x-1/2
         w-[95%] max-w-6xl z-50
         bg-white/40 backdrop-blur-md
         rounded-[20px] px-6 py-4
         flex items-center justify-between
         will-change-transform"
>
    <div class="flex items-center gap-3">
        <a
            href="https://t.me/zedacademy2026"
            target="_blank"
            class="flex items-center gap-2 px-5 py-2 rounded-lg font-semibold text-white bg-[#007fff] hover:bg-[#006fde] transition"
        >
            Telegram
            <Icon name="simple-icons:telegram" class="w-4 h-4" />
        </a>
        <a
            href="#"
            target="_blank"
            class="px-6 py-2 rounded-lg font-semibold text-gray-900 bg-[#bbd0fb] hover:bg-[#a8c0f4] transition"
        >
            Log In
        </a>
    </div>

    <div class="hidden md:flex items-center gap-8">
        <a
            href="#"
            class="font-semibold text-gray-900 hover:text-[var(--color-yellow)] transition"
            >Home</a
        >
        <a
            href="#"
            class="font-medium text-gray-500 hover:text-[var(--color-yellow)] transition"
            >Courses</a
        >
        <a
            href="#"
            class="font-medium text-gray-500 hover:text-[var(--color-yellow)] transition"
            >Reviews</a
        >
        <a
            href="#"
            class="font-medium text-gray-500 hover:text-[var(--color-yellow)] transition"
            >Contact</a
        >
    </div>

    <div class="flex items-center gap-2">
        <span class="font-bold text-gray-800 text-lg">
            <span class="text-[var(--color-yellow)]">Zed </span> Academy
        </span>
        <div class="bg-black rounded-full p-2">
            <img
                src="/src/assets/logo-zed.png"
                alt="logo"
                class="w-6 h-6 object-contain"
            />
        </div>
    </div>
</nav>

<script>
    const navbar = document.getElementById("navbar");

    const START_TOP = 65;
    const END_TOP = 10;
    const MAX_OFFSET = START_TOP - END_TOP;

    function updateNavbar() {
        const offset = Math.min(window.scrollY, MAX_OFFSET);
        navbar.style.transform = `translateY(-${offset}px)`;
    }

    window.addEventListener("scroll", updateNavbar);

    window.addEventListener("load", () => {
        requestAnimationFrame(updateNavbar);
    });
</script>
